<ul id="navigation" class="mobile-hidden">
  <li class="user" id="signed-in-user">
    accounts1@server.com
  </li>
  <li>
    <a href="sign-out" id="user-signout">Sign out</a>
  </li>
</ul>
<hr class="govuk-section-break govuk-section-break--visible">


<div class="govuk-width-container" style="float: right;">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>