<!-- WebFiling view of ACSP account -->
<!-- {% extends "layouts/layout-account-signout-your-companies-jill.html" %}
{% extends "layouts/main.html" %} --> 



{% block pageTitle %}
 Manage members 
{% endblock %}

{% set serviceName %}
 
{% endset %}

{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">

     <div class="govuk-grid-column-full">

      {# CH Notification banner #}
   <!--    <div class="govuk-notification-banner" role="region"
              aria-labelledby="govuk-notification-banner-title"
              data-module="govuk-notification-banner">
              <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" style="display: inline;">
            For information
          </h2>
        
        </div>

        <div class="ch-notification-content" id="ch-notification-content">
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Try our new File a confirmation statement service
            </p>
            <p>
              If you have a private company limited by shares, with 1 to 5 officers (including directors and secretaries), up to 5 people with significant control, and 1 shareholder, you can use our
              <a class="govuk-notification-banner__link" href="https://find-and-update.company-information.service.gov.uk/confirmation-statement">new File a confirmation statement service</a>.
              You will not be able to pay with a Companies House payment account.
            </p>
          </div>
        </div>
      </div> -->

        <h1 class="govuk-heading-l">Home
        <span class="govuk-caption-xl" >j.morris@example.com</span> </h1>
      </div>
    </div>

    <div class="govuk-grid-row" style="margin-bottom: 10px;">
      <div class="govuk-grid-column-full">


        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">

        <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1;  border-width: 1px; padding: 1.75em; height: 350px; width: 313px; margin-top: 10px; margin-right: 10px;">

          <h2 class="govuk-heading-m govuk-!-padding-top-1 govuk-!-margin-bottom-6">            
            <span class="govuk-caption-m">Authorised agent</span>
          Morris Accounting Ltd
          </h2>


          <ul class="govuk-list govuk-body govuk-!-font-size-16">
            <li class="govuk-!-padding-top-1 govuk-!-padding-bottom-3"><a href="start-page" class="govuk-link govuk-link--no-visited-state">Tell Companies House you have verified someone's identity</a> </li>
            <li class="govuk-!-padding-top-1 govuk-!-padding-bottom-3"><a href="account-acsp-members" class="govuk-link govuk-link--no-visited-state">Add or remove members who work for the authorised agent </a></li>
            <li class="govuk-!-padding-top-1"><a href="account-acsp-members" class="govuk-link govuk-link--no-visited-state">Update the authorised agent's details </a> </li>
          </ul>

      
        </div>

        <div class="govuk-grid-column-one-third" style=" background-color:#f3f2f1;  border-width: 1px; padding: 2em; height: 350px; width: 313px; margin-top: 10px; margin-right: 10px;">

            <h2 class="govuk-heading-m govuk-!-padding-top-1" style= "color:#003078"><a href="../webfiling/company-number" class="govuk-link ">WebFiling</a></h2>

            <p class="govuk-body govuk-!-font-size-16">You can:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
              <li>file your company’s annual accounts</li>
              <li>file your company’s confirmation statement</li>
              <li>file your company’s director or secretary changes</li>
              <li>sign up to get email reminders</li>
            </ul>


          </div>


          <div class="govuk-grid-column-one-third" style=" border-width: 1px; padding: 1.75em; height: 350px; width: 313px; margin-top: 10px; background-color:#f3f2f1 ">


            <h2 class="govuk-heading-m govuk-!-padding-top-1 govuk-!-margin-bottom-4"style= "color:#003078" > <a href="../user-account/home-no-companies-no-notification" class="govuk-link"> Your companies</a> </h2>

            <p class="govuk-body govuk-body govuk-!-font-size-16">You can:</p>

            <ul class="govuk-list govuk-list--bullet govuk-body govuk-!-font-size-16">
              <li>add a company to your WebFiling account</li>
              <li>view, manage and file for companies you’ve added</li>
              <li>digitally authorise people to file for your company online</li>
              <li>view and manage digitally authorised people</li>

            </ul>

          </div>

          


        </div>
      </div>


     


</div>
</div>


{% endblock %}
