{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the ACSPs registered address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/register-an-acsp/legal-form" method="post">

        <span class="govuk-caption-l">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </span>

        {% call govukFieldset({
          legend: {
            text: "Enter their home address",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ govukInput({
          label: {
            text: "Property name or number"
          },
          hint: {
            text: "For example, 'Saron House' or '116' '"
          },
          id: "propertyName",
          name: "propertyName"
        }) }}
        {{ govukInput({
          label: {
            text: "Address line 1"
          },
          id: "addressOne",
          name: "addressOne"
        }) }}
        {{ govukInput({
          label: {
            text: "Address line 2 (optional)"
          },
          id: "addressTwo",
          name: "addressTwo"
        }) }}
        {{ govukInput({
          label: {
            text: "City or town"
          },
          id: "town",
          name: "town"
        }) }}
        {{ govukInput({
          label: {
            text: "County, state, province or region (optional)"
          },
          id: "county",
          name: "county"
        }) }}
        {{ govukInput({
          label: {
            text: "Country"
          },
          id: "country",
          name: "country"
        }) }}
        {{ govukInput({
          label: {
            text: "Postcode or ZIP"
          },
          id: "postcode",
          name: "postcode"
        }) }}

        
        {% endcall %}



      
        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
