{% extends "layouts/main.html" %}

{% block pageTitle %}
  ACME LIMITED -  Find and update company details - GOV.UK
{% endblock %}

{% set serviceName %}

Find and update company information
 
{% endset %}


{% block beforeContent %}

  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}

{% block content %}

  {% set overviewHtml %}



<p class="govuk-body"> Registered office address<br>
<strong>Flat A, 84 Wentloog Road, Cardiff, CF3 3AE</strong></p>
<p class="govuk-body">Company status<br>
<strong>Active </strong></p>

  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Company type<br>
      <strong>Private limited company use of 'Limited' exemption</strong>
    </div>
    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">Incorporated on<br>
      <strong>4 May 1977</strong></p>
    </div>
  </div>


  <div class="govuk-grid-row govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m"> Accounts</h2>
      <p class="govuk-body">Next accounts made up to <strong>31 August 2022</strong> due by <strong>31 May 2023</strong></p>
      <p class="govuk-body">Last accounts made up to <strong>31 August 2021</strong></p>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m"> Confirmation statement</h2>
      <p class="govuk-body">Next statement made up to <strong>1 February 2024</strong> due by <strong>15 February 2024</strong></p>
      <p class="govuk-body">Last statement made up to <strong>1 February 20231</strong></p>
    </div>
  </div>

  <h2 class="govuk-heading-m"> Nature of business (SIC)</h2>
  <ul class="govuk-list govuk-!-font-size-19 govuk-!-margin-bottom-7">
    <li>46900 - Non-specialised wholesale trade</li>
    <li>47990 - Other retail sale not in stores, stalls or markets</li>
  </ul>

    {{ govukTable({
      caption: "Previous company names",
      captionClasses: "govuk-table__caption--m",
      firstCellIsHeader: true,
      head: [
        {
          text: "Name"
        },
        {
          text: "Period"
        }
      ],
      rows: [
        [
          {
            text: "WOOL LIMITED",
            classes: 'govuk-!-font-weight-regular'
          },
          {
            text: "02 Oct 2018 - 03 Oct 2018"
          }
        ],
        [
          {
            text: "WORLD'S FINEST FIBRES LIMITED",
            classes: 'govuk-!-font-weight-regular'
          },
          {
            text: "29 Sep 2017 - 02 Oct 2018"
          }
        ]
      ]
    }) }}


  {% endset -%}
  <div class="searchfield">
  {{ govukInput({
    label: {
      text: "Search",
      classes: "govuk-visually-hidden",
      isPageHeading: false
    },
    id: "ignore",
    name: "ignore",
    value: "Search for a company or officer",
    classes: "company-search"
  }) }}
</div>
<p class="govuk-body"><a href="#" class="govuk-link">Advanced company search</a></p>
  <h1 class="govuk-heading-l">ACME LIMITED</h1>
  <p class="govuk-body">Company number <strong>10987888</strong></p>


<!-- <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
   <div class="govuk-warning-text corporate-annotations-text govuk-!-margin-bottom-2">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <span class="govuk-warning-text__assistive">Important</span>
    <p class="govuk-warning-text__text">This company has some directors that have not verified their identity  </p>
</div> 

  </div>
</div>-->






  {{ govukButton({
  text: "Follow this company"
  }) }}

  {{ govukButton({
  text: "File for this company"
  }) }}


  {% set filingHistoryHtml %}
 
  {% endset -%}

  
  {% set peopleHtml %}
<h2 class="govuk-heading-m govuk-!-margin-bottom-0 ">Filter officers</h2><br>

    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          Current officers
        </label>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-7">12 officers / 10 resignations</h2><br>
   

<h2 class="govuk-body">
<a href="#" class="govuk-heading-m govuk-!-margin-bottom-0 govuk-link">JONES, Eleanor Mae</a>
</h2>

<p class"govuk-body">Correspondence address<br>
<strong>C/O Moore Chartered Accountants 2nd Floor, Southern House, 76-80 College Road, Harrow, Middlesex, United Kingdom, HA1 4BW 
</strong>
</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class = "govuk-body" stylegovuk-!-padding-right-9">Role <strong class="govuk-tag green-tag">
 ACTIVE
</strong>
 
</strong> <br>

      <strong>Director</strong>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Date of birth<br>
      <strong>September 1963</strong>
      </div>
            <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Appointed on<br>
      <strong>2 November 2022</strong>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Nationality<br>
      <strong>British</strong>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Country of residence<br>
      <strong>England</strong>
      </div>
            <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Occupation<br>
      <strong>Director</strong>
      </div>
    </div>
  </div>
</div>

<p class="govuk-body govuk-!-padding-top-3">
  <span class="govuk-!-font-weight-bold">  Identity verification statement</span><br> 
    
   JAMES ACCOUNTING LTD has carried out identity verification checks for Eleanor Mae Jones on 2 March 2023 that meet Companies House identity verification standard.</p>
  



  <!-- <p class="govuk-body">The person provided the following documents to prove their identity:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>passport</li>
      <li>photo driving licence</li>
      <li>bank or building society statement</li>
    </ul> -->
    <p class="govuk-body">JAMES ACCOUNTING LTD is registered with Association of Chartered Certified Accountants for Anti-Money Laundering (AML) purposes. </p>

 


</div>

<h2 class="govuk-body">
<a href="#" class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-7 govuk-link">CHERRY, Jonathan Daniel</a>
</h2>


<p class"govuk-body">Correspondence address<br>
<strong> 16 Mill Acre Lane, London, SE16 5UU
</strong>
</p>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Role <strong class="govuk-tag green-tag">
ACTIVE
</strong>

</strong> <br>

      <strong>Director</strong>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Date of birth<br>
      <strong>June 1988</strong>
      </div>
            <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Appointed on<br>
      <strong>2 March 2022</strong>
      </div>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Nationality<br>
      <strong>British</strong>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Country of residence<br>
      <strong>Wales</strong>
      </div>
            <div class="govuk-grid-column-one-third">
        <p class"govuk-body">Occupation<br>
      <strong>Director</strong>
      </div>
    </div>
  </div>
</div>

<hr> 




  {% endset -%}


  {% set viewallHtml %}

  <h2 class="govuk-heading-l"> Company snapshot</h2>

  {{ govukDetails({
  summaryText: "What's included in the company snapshot",
  html: "<p class='govuk-body'>The latest 100 entries for:</p>

  <ul class='govuk-list govuk-list--bullet'>
    <li>Filing history</li>
    <li>Officers</li>
    <li>Persons with significant control</li>
    <li>Charges</li>
    <li>Insolvency</li>
    <li>Registers</li>
  </ul>"
}) }}

  {{ govukButton({
  text: "View company information snapshot",
  classes: "govuk-button--secondary"
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l"> Order a company certificate</h2>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <p class='govuk-body'>Use this service to order a company certificate with certified information about the company. A certificate can be used to prove that a company is incorporated, and that no action is being taken to remove the company from the register. </p>

      <p class='govuk-body'>You may need to order a certificate if you’re looking to conduct business overseas. It might be needed by the official register of the foreign territory (the equivalent of Companies House).  </p>

<!--
      {{ govukDetails({
        summaryText: "What you'll need",
        html: "<p class='govuk-body'>To use the service, you'll need:</p>

        <ul class='govuk-list govuk-list--bullet'>
          <li>to choose the company information you want to be included on the certificate</li>
          <li>a credit or debit card for payment</li>
        </ul>
        <p class='govuk-body'>To order a paper certificate, you'll also need the address you want the certificate to be delivered to (UK or international).</p>
        "
    }) }}
    -->

    {{ govukButton({
      text: "Order company certificate",
      classes: "govuk-button--secondary",
      href:"order-certified-certificate-wool"
      }) }}

    </div/>

</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-l"> Order a certified document</h2>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-three-quarters">

      <p class='govuk-body'>Use this service to order a certified copy of a document from the company’s filing history. You can also use this service to order an incorporation package, which includes the documents that were issued when the company was formed.      </p>

      <p class='govuk-body'>You may need to order a certified document for opening a bank account, loan applications, or if you’re selling your company. </p>


<!--
      {{ govukDetails({
      summaryText: "What you'll need",
      html: "<p class='govuk-body'>To use the service, you'll need:</p>

      <ul class='govuk-list govuk-list--bullet'>
        <li>to choose the document you want to be certified</li>
        <li>a credit or debit card for payment</li>
      </ul>
      <p class='govuk-body'>To order a paper document, you'll also need the address you want the document to be delivered to (UK or international).</p>"
      }) }}
-->

  {{ govukButton({
  text: "Order certified document",
  classes: "govuk-button--secondary",
  href:"order-certified-document"
  }) }}
  {% endset -%}


  {{ govukTabs({
  items: [
    {
      label: "Overview",
      id: "overview",
      panel: {
        html: overviewHtml
      }
    },
    {
      label: "Filing History",
      id: "filing-history",
      panel: {
        html: filingHistoryHtml
      }
    },
    {
      label: "People",
      id: "people",
      panel: {
        html: peopleHtml
      }
    },
    {
      label: "Charges",
      id: "charges",
      panel: {
        html: peopleHtml
      }
    },
    {
      label: "Insolvency",
      id: "insolvency",
      panel: {
        html: peopleHtml
      }
    },
    {
      label: "More",
      id: "view-all",
      panel: {
        html: viewallHtml
      }
    }
  ]
}) }}

{% endblock %}
