{% extends "layouts/main.html" %} {% block pageTitle %} Verification record
might already exist – {{ serviceName }} – GOV.UK {% endblock %} {% block content
%}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="duplicate-warning" method="post">
      <span class="govuk-caption-l">
        {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
      </span>
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
        Verification record might already exist
      </h1>

      <p>
        We already have an identity record that matches some of the details
        you’ve entered. 
      </p>
      <h2 class="govuk-heading-m">
        1. Check if your client has already verified
      </h2>
      <p>
        Check with your client if they have verified already using another ACSP
        or GOV.UK One Login. 
      </p>


      <h2 class="govuk-heading-m">2. Check the details you've provided</h2>
      <p>
        Before you continue, check that you have entered all your client’s
        details correctly.
      </p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
            {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">
            {{data['dobDay']}} {{ data['dobMonth'] | displayMonth}}
            {{data['dobYear']}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br />London<br />SE23 6FH
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        3. Confirm you've checked this isn't an existing record
      </h2>
      <p>
        Once you've checked that your client hasn't verified already, and that
        the details you've provided are correct, you can continue and add their
        identity documents details.
      </p>

      <p>
        You'll be stopped from submitting your client’s identity verification if
        these details match an existing identity record.
      </p>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
