{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start - Verify your identity 
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for this page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Guidance</span>
      <h1 class="govuk-heading-xl">
        How to meet Companies House identity verification standard 
      </h1>

<p class="govuk-body-m">Guidance on how to meet our identity verification standard when verifying someone’s identity for Companies House.</p>

      <aside class="govuk-prototype-kit-common-templates-mainstream-guide-contents-list" role="complementary">
        <nav class="govuk-prototype-kit-common-templates-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-prototype-kit-common-templates-contents-list__title">
            Contents
          </h2>
          <ol class="govuk-prototype-kit-common-templates-contents-list__list">
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-1">
              Ask for information about the person’s identity
              </a>
            </li>
            
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-2">
              Get evidence to verify the person’s identity
              </a>
            </li>   
  
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#docs">
               Documents you can use as evidence
              </a>
            </li>  
            <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-3">
               Check the evidence is real 
              </a>
            </li>   



                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-5">
               Check the identity has existed over time
              </a>
            </li>  
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#step-6">
               Tell Companies House you have verified someone’s identity 
              </a>
            </li>  
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#other">
                Other ways to verify someone’s identity
              </a>
            </li>  
                        <li class="govuk-prototype-kit-common-templates-contents-list__list-item govuk-prototype-kit-common-templates-contents-list__list-item--dashed">
              <a href="#cannot">
                What to do if you cannot verify someone’s identity
              </a>
            </li>  
         
          </ol>
        </nav>
      </aside>

    </div>

  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-prototype-kit-common-templates-mainstream-guide-body">


   <p>When you verify someone’s identity for Companies House, you must meet our identity verification standard to comply with your legal responsibilities as an authorised agent. This is also known as an Authorised Corporate Service Provider (ACSP).</p>

   <p>The following checks outline the minimum you must do to meet the standard.</p>

   <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    If your identity checks do not meet the required standard, we could suspend or stop your business from acting as an authorised agent.
  </strong>
</div>
    
        <h2 class="govuk-heading-l" id="step-1">Ask for information about the person </h2>


    <p>The person will need to give you their:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>full name and any former names</li>
              <li>date of birth</li>
              <li>home address</li>
              <li>address history for the last 5 years</li>
              <li>email address</li>
            </ul>  
   


      <h2 class="govuk-heading-l" id="step-2">Get evidence to verify the person’s identity</h2>

      <p>You’ll need to ask to see documents as evidence to verify the person's identity.</p>

      <p>You will need to keep copies of the documents for 7 years from the date you complete the identity checks.</p>

      <p>You will not need to submit copies when you tell us you've verified someone's identity. However, we will ask for information about the documents. You'll need to give the:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>document reference number, or equivalent</li>
              <li>expiry date, if the document has one</li>
              <li>country of issue, if the document has one</li>
            </ul>

     <!-- <p>There are 2 options to do this, you must use option 1 if you can. The evidence you need to ask for will depend on which option you use.  
        The following options 
 </p> -->


<!--
      <div class="govuk-inset-text">
  You cannot use documents that have expired to verify someones identity. However, the person will not need to verify again if a document expires after you have completed identity checks.
</div>

      <p>Where we've included an issuing country or authority for a document, you cannot accept a foreign equivalent.</p>

 -->

      <h2 class="govuk-heading-l" id="docs">Documents that can be used as evidence</h2>

      <p>There are 2 options for checking identity documents. The documents you can use as evidence will depend on which option you use.</p> 


<p>You cannot use as evidence:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>documents that have expired</li>
              <li>a foreign equivalent of a document, if we've specified an issuing country or authority</li>
            </ul>
    <p>The person will not need to verify again if a document expires after you have completed the identity checks.</p>


      <h3 class="govuk-heading-m">Option 1</h3>

<div class="govuk-inset-text">
  You must use identity document validation technology (IDVT) to check the documents if you use option 1. 
</div>

 <details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What is identity document validation technology (IDVT)?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>This is technology that can help you to check the authenticity of documents when you're verifying someone's identity. <!-- For example, if you need to check:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>passports</li>
                  <li>biometric residence permits</li>
                  <li>driving licences</li>
                  <li>identity cards</li>
                  </ul> -->
          <p>For more information, <a href="https://www.gov.uk/government/publications/identity-document-validation-technology/identification-document-validation-technology">read the guidance on identification document validation technology</a>.</p>
  </div>
</details>

      <p>The person will need to provide <strong>1 of the following documents</strong>:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>biometric or machine readable passport </li>
              <li>Irish passport card</li>
              <li>UK, Channel Islands, Isle of Man and EU photocard driving licence (full or provisional)</li>
              <li>identity card with biometric information from the EU, Norway, Iceland or Liechtenstein</li>
              <li>UK biometric residence permit (BRP)</li>
              <li>UK biometric residence card (BRC)</li>
              <li>UK Frontier Worker permit </li>
            </ul>



      <h3 class="govuk-heading-m">Option 2</h3>
<div class="govuk-inset-text">
  You must use option 2 if the documents are being checked by a person. 
</div>
     
      <p>The person being verified will need to provide <strong>2 documents in total</strong>. They must provide at least one photographic document. </p>

      <p>They can provide <strong>either</strong>:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>2 documents from group A</li>
              <li>1 document from group A, and 1 document from group B </li>
              </ul>

          <p>If the person you're verifying does not live in the UK, they must provide at least one government issued document. </p>

      <h4 class="govuk-heading-s">Group A</h4>

  <p>They can use:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>passport or Irish passport card</li>
              <li>identity card with biometric information from the EU, Norway, Iceland or Liechtenstein</li>
              <li>UK biometric residence permit (BRP)</li>
              <li>UK biometric residence card (BRC)</li>
              <li>UK accredited PASS card</li>
              <li>UK or EU driver digital tachograph card</li>
              <li>UK, Channel Islands, Isle of Man and EU photocard driving licence (full or provisional)</li>
              <li>UK HM Forces ID Card </li>
              <li>UK HM Armed Forces Veteran Card </li>
              <li>UK Frontier Worker permit </li>
              <li>photographic work permit (government issued) </li>
              <li>photographic immigration document </li>
              <li>photographic visa </li>
              <li>UK, Channel Islands and Isle of Man firearms licence </li>
              <li>another type of <a target="_blank" href="https://www.consilium.europa.eu/prado/en/prado-start-page.html">photographic ID listed on PRADO (opens in a new tab)</a> - such as a National Identity Card (Pakistan), crew member certificate (South Africa), or Permanent Resident Card (USA)</li>
            </ul>

      <h4 class="govuk-heading-s">Group B</h4>

      <p>They can use:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>birth or adoption certificate </li>
              <li>marriage or civil partnership certificate </li>
              <li>non-photographic immigration document</li>
              <li>non-photographic visa</li> 
              <li>non-photographic work permit</li>
              <li>bank or building society statement </li>
              <li>UK local authority or social housing rental agreement – this must be for the person’s current address </li>
              <li>mortgage statement – this must be for the person’s current address</li>
              <li>UK council tax statement – this must be for the person’s current address</li>
              <li>utility bill – this must be for the person’s current address</li>

            </ul>
      <p>You will not need to provide a document reference number, expiry date, or country of issue for documents from group B.</p>


      <h2 class="govuk-heading-l" id="step-3">Check the evidence is real</h2>


    <!--  <p>If you're using technology to check evidence, you must make sure the information held in the electronic chip matches the information on the document. </p> -->
      <p>If the evidence is being checked by a person, they must be trained in detecting false documents by a specialist training provider. This could be any organisation that follows the Home Office best practice guide, including: </p>

      <ul class="govuk-list govuk-list--bullet">
              <li>Home Office (HO)</li>
              <li>National Document Fraud Unit (NDFU)</li>
              <li>National Protective Security Authority (NPSA)</li>
            </ul>


      <p>You should always check identity documents for signs of tampering. You must query if there are any signs of damage to a document, especially if it's in an area where personal details are shown. </p>


      <p>If you have concerns about a document, contact the issuing authority or another authoritative source to check.</p>
      <p>For documents issued by a country outside of the UK, you should contact the relevant embassy if you have concerns.  </p>




      
      <h2 class="govuk-heading-l" id="step-4" >Check the identity belongs to the person claiming it </h2>

     <p>You’ll need to check that: </p>
           <ul class="govuk-list govuk-list--bullet">
            <li>the documents confirm their name and date of birth</li>
  <li>information held in the electronic chip matches the information on the document and the person claiming it, if you're using IDVT to check the document</li> 
            <li>the person physically matches the photo that is on, or goes with the document </li>

          </ul>

          <p>If you are verifying the person remotely, you must make sure they are a real person. You will need to clearly see their face to compare it with the photo that is on the identity document. </p>


   <!--   <h2 class="govuk-heading-l" id="copies" >Make copies of the identity documents</h2>

 <p>You do not need to submit copies of the documents you use to verify their identity. However, you must keep copies of the documents for 7 years from the date you complete the identity checks.</p>
  
  <p>When you tell us you've verified someone's identity, you'll need to tell us which identity documents you used. For each document, you'll need to give the:</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>document reference number, or equivalent</li>
                    <li>expiry date, if the document has one</li>
                    <li>country of issue, if the document has one</li>
                    </ul>


      <h2 class="govuk-heading-l" id="step-5">Check the person’s identity has existed over time</h2>

      <p>The following steps will help you to confirm the identity has existed over time. This will lower the risk of you accepting: </p>
             <ul class="govuk-list govuk-list--bullet">
                <li>a fake identity</li>
                <li>an identity that belongs to someone who has died</li>
              </ul> -->




      <h3 class="govuk-heading-m">1. Check their address history</h3>

      <p>The person will need to give you their address history for the last 12 months. Where possible, you should ask to see documentation to confirm the address history.</p>

      <h3 class="govuk-heading-m">2. Check if they have changed their name</h3>
      <p>You must ask the person about any previous name changes. You should ask them to show you documentation to support any changes of name.</p>
      <p>If they cannot show you proof of the name change, you should find out why and consider whether to verify their identity.</p>

       <h3 class="govuk-heading-m">3.	Check if they have regularly interacted with other organisations or people</h3>
      <p>To make sure the identity belongs to a real person, you should ask to see evidence of activity you would expect. </p>

      <p>To do this, you could check:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>a bank or credit card statement for recent transactions</li>
            <li>utility or council tax bills, sent the person’s home address </li>
            <li>if their passport has been used recently or over time </li>
          </ul>

 

      <h2 class="govuk-heading-l" id="step-6" >Tell Companies House you have verified someone’s identity</h2>
      
      <p>Once you have verified someone’s identity, you’ll need to use our online service to:</p> 
                          <ul class="govuk-list govuk-list--bullet">
                            <li>tell us the person’s details</li>
                            <li>tell us which documents you used to verify their identity</li>
                            <li>give details from the identity documents</li>
                            <li>confirm you have completed checks to verify their identity to the required standard</li>
                          </ul>
     

         <p>You must keep records of all identity checks you complete, including copies of the evidence, for 7 years from the date you completed the checks.</p>


 <div class="ch-info-panel">


        <div class="govuk-panel__body">
            <p class="govuk-body"><strong><a class="govuk-link govuk-link--no-visited-state" href="start-page">Tell Companies House you have verified someone's identity</strong></a>.
            </p>
              </div>
</div>







         <h2 class="govuk-heading-l" id="other">Other ways to verify someone’s identity</h2>
 
         <p>You can use commercial identity providers or platforms to verify someone's identity.</p>
         
         <p> If you do this, you must make sure the provider or platform completes checks that meet the Companies House identity verification standard. You will still need to: </p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>keep copies of the documents the person provides to verify their identity for 7 years</li>
                      <li>tell us about the identity checks and documents that were used to verify the person's identity</li>
                      </ul>
          <p>We could suspend or stop an authorised agent if they use a provider that does not meet the standard.</p>


          

         <p>You can also ask people to <a href="">verify their identity directly with Companies House</a>. This is a free service. You will not need to see or keep copies of documents for people who verify using this service.</p>




         <h2 class="govuk-heading-l" id="cannot">What to do if you cannot verify someone’s identity</h2>
        <p>If you have not been able to verify a person’s identity, you must still keep records of the evidence you used and checks you completed for 7 years. </p>
        <p>It is the person’s responsibility to prove that they are who they say they are. They will need to get documents to be able to verify their identity for Companies House. </p>
        <p>They will need to verify their identity to do any of the following:</p>

             
          <ul class="govuk-list govuk-list--bullet">
            <li>file with Companies House</li>
            <li>be a director</li>
            <li>be a person with significant control (PSC)</li>
            <li>apply to register as a Companies House authorised agent </li>
          </ul>
        <p>Read the <a href="">guidance on verifying your identity for Companies House</a> for more information. </p>



{% endblock %}
