{% extends "layouts/main.html" %}
{% block pageTitle %}
You cannot use this service
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}

{% block beforeContent %}


{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'We\'re testing a new service – to help us improve it, <a class="govuk-link" href="#">give your feedback (opens in a a new tab)</a>.'
}) }}

<div class="govuk-width-container">

  <nav class="govuk-language-select" aria-label="Choose a language">
        <ul class="govuk-language-select__list">
          <li class="govuk-language-select__list-item">
            <span aria-current="true">English</span>
          </li>
          <li class="govuk-language-select__list-item">
            <a href="#lang-cy" hreflang="cy" lang="cy" rel="alternate" class="govuk-link" data-journey-click="link - click:lang-select:Cymraeg"><span class="govuk-visually-hidden">Newid yr iaith ir Gymraeg</span><span aria-hidden="true">Cymraeg</span></a>
          </li>
        </ul>
      </nav>

</div>


{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   
      
      <h1 class="govuk-heading-l">You cannot use this service while the authorised agent is suspended  </h1>

      <p class="govuk-body">You cannot tell us you have verified someone’s identity as MORRIS ACCOUTING LTD is currently suspended.  </p>
      
      <p>For more information about the suspension and what to do next, check the email we sent to MORRIS ACCOUTING LTD’s correspondence email address. </p>
      <p>You can contact us using the details on the email if you need more information, or if you think there has been a mistake. </p>


      <p> <a href="#">Go to the authorised agent account</a>. </p>




      


     


    </div>
  </div>
{% endblock %}
