{% extends "layouts/main.html" %}

{% block pageTitle %}
Shortcuts – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-l">
      Amend someone's identity verification details
      <span class="govuk-caption-xl">Version 2</span>
    </h1>
    

    {{ govukButton({
      text: "Ammend verification details",
      classes: "govuk-button--secondary",
      href:"start-page"
    }) }}


    {{ govukWarningText({
      text: "This prototype is being actively worked on - things might break or change very quickly",
      iconFallbackText: "Warning"
    }) }}


    <h2 class="govuk-heading-m">Entry points <strong class="govuk-tag govuk-tag--red">
      Confirm entry points to service
    </strong> </h2>
    

    <!-- Verify someone identity shortcuts -->

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="guidance">Companies House identity verification standard</a> <strong class="govuk-tag govuk-tag">
          Not for development
        </strong>
      </li>
      <li>
        <a class="govuk-list" href="guidance-ACSPs">Guidance</a> <strong class="govuk-tag govuk-tag">
          Not for development
        </strong>
      </li>
      <li>
        <a class="govuk-list" href="https://find-update-company-info.herokuapp.com/authorised-agent/email-acsp-registration-accepted-release-1">Email - ACSP registration accepted</a>
      </li>
      <li>
        <a class="govuk-list" href="">Sign in to Companies House</a>
      </li>
      <li>
        <a class="govuk-link" href="https://find-update-company-info.herokuapp.com/authorised-agent/acsp-home-super-admin">Authorised agent account </a>
      </li>
    </ul>

    <h2 class="govuk-heading-m" id="earlyScreens">Start page <strong class="govuk-tag govuk-tag--red">
      Need to confirm technical approach
 </strong>  <strong class="govuk-tag govuk-tag--blue">
Design review in progress
 </strong></h2>

    <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="start-page">Amend someone's identity verification details</a>  <strong class="govuk-tag govuk-tag--green">
       Content TBC
      </strong>
    </li>
  </ul>


    <h2 class="govuk-heading-m" id="earlyScreens">Verification reference</h2>

  <ul class="govuk-list govuk-list--bullet">
  <li>
    <a class="govuk-link" href="verification-confirmation">Verification reference</a> <strong class="govuk-tag govuk-tag--green">
    Content TBC
    </strong>
  </li>
  </ul>

   <h2 class="govuk-heading-m" id="earlyScreens">Reason <strong class="govuk-tag govuk-tag--green">
        Content TBC
       </strong></h2>

    <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="reason-for-change">What is the reason for this change?  </a> 
    </li>

    </ul>


  <h2 class="govuk-heading-m" id="earlyScreens">Amend details</h2>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="what-do-you-want-to-change">What details do you want to amend?</a> <strong class="govuk-tag govuk-tag--green">
        Content TBC
       </strong> 
    </li>

  </ul>



    <h2 class="govuk-heading-m" id="userRole">Individual's details <strong class="govuk-tag govuk-tag--green">
    Content TBC
   </strong></h2> 
  <ul class="govuk-list govuk-list--bullet">

    <li>
      <a class="govuk-list" href="name">Name</a> 
    </li>

    <li>
      <a class="govuk-list" href="name-for-the-register">Name for the identity verification statement</a> 
    </li>

    <li>
      <a class="govuk-list" href="dob">Date of birth</a> 
    </li>


    <li>
      <a class="govuk-list" href="address-lookup">Where do they live?</a>   
    </li>
    <li>
      <a class="govuk-list" href="address-list">Choose an address</a> 
    </li>
    <li>
      <a class="govuk-list" href="address-confirm">Confirm their home address</a>  
    </li>
    

    <li>
      <a class="govuk-list" href="email-address">Email address</a> 
    </li>

    <li>
      <a class="govuk-list" href="email-stop-screen">Email address already in use - stop screen</a> 
    </li>
   

     <li>
      <a class="govuk-list" href="date-identity-checks">Dates identity checks were completed</a>  
    </li>
     <li>
      <a class="govuk-list" href="format-of-the-documents-checked">How were the identity documents checked?</a>  
    </li>
     <li>
      <a class="govuk-list" href="documents-checked-r1">Route 1 - Which documents did you check to verify their identity?</a>  
    </li> 
    <li>
      <a class="govuk-list" href="documents-checked-r2">Route 2 - Which documents did you check to verify their identity?
</a>  
    </li>
     <li>
      <a class="govuk-list" href="documents-checked-r2">
    Enter the details exactly as they appear on the document</a>  
    </li>




    </ul>






 <h2 class="govuk-heading-m" id="earlyScreens">Provide more detail<strong class="govuk-tag govuk-tag--green">
        Content TBC
       </strong></h2>

    <ul class="govuk-list govuk-list--bullet">
    <li>
      <a class="govuk-link" href="reason-for-change-more-detail">Can you provide more detail?</a> 
    </li>
<!--     <li>
      <a class="govuk-link" href="reason-for-change-more-detail">Can you provide more detail?</a>
    </li> -->
    <li>
      <a class="govuk-link" href="document-upload"> Evidence required to be uploaded</a>  <strong class="govuk-tag govuk-tag--red">Check requirements
      </strong>
    </li>

  </ul>






<!-- 
    <h2 class="govuk-heading-m" id="userRole">Declaration <strong class="govuk-tag govuk-tag--green">
      Content TBC
     </strong></h2>
    <ul class="govuk-list govuk-list--bullet">
  
      <li>
        <a class="govuk-list" href="id-check">Identity verification declaration</a>
      </li>
    </ul>
    -->
  
  
  
    <h2 class="govuk-heading-m"id="finalScreens">Final screens <strong class="govuk-tag govuk-tag--green">
      Content TBC
     </strong></h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-list" href="check-your-answers">Check your answers before sending your application</a> 
        </li>
        <li>
          <a class="govuk-list" href="confirmation"> Confirmation</a>
        </li>   
      </ul>
  
  
  




    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



  <h2 class="govuk-heading-m" id="userRole">Documents checked</h2>
  <ul class="govuk-list govuk-list--bullet">


    <li>
      <a class="govuk-list" href="date-identity-checks">Date identity checks carried out</a> <strong class="govuk-tag govuk-tag--pink">
        Dev ready
       </strong> 
    </li>

    <li>
      <a class="govuk-list" href="format-of-the-documents-checked">Did you check the security features of the document(s)?</a> <strong class="govuk-tag govuk-tag--pink">
        Dev ready
       </strong> <strong class="govuk-tag govuk-tag--green">
       Content TBC
      </strong>
    </li>

    <li>
      <a class="govuk-list" href="documents-checked-r1">Route 1 - Which identity documents did you check to prove their identity?</a> <strong class="govuk-tag govuk-tag--pink">
        Dev ready
       </strong> <strong class="govuk-tag govuk-tag--green">
       Content TBC
      </strong>
    </li>

    <li>
      <a class="govuk-list" href="documents-checked-r2">Route 2 - Which identity documents did you check to prove their identity?</a> <strong class="govuk-tag govuk-tag--pink">
        Dev ready
       </strong> <strong class="govuk-tag govuk-tag--green">
       Content TBC
      </strong>
    </li>

    <li>
      <a class="govuk-list" href="id-document-details">Enter the details exactly as they appear on the document</a> <strong class="govuk-tag govuk-tag--green">
        Content TBC
       </strong> <strong class="govuk-tag govuk-tag">
       Design under review
      </strong>
    </li>

 </ul>




    <h2 class="govuk-heading-m"id="finalScreens">Annotations to the register</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="chs-annotation-people"> Person has been identity verified by an authorised agent </a> <strong class="govuk-tag govuk-tag--green">
       Content TBC
      </strong>
      </li>
      
    </ul>

    <h2 class="govuk-heading-m"id="finalScreens">Stop screens</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="stop-browser-back">User selects the browser back button</a> <strong class="govuk-tag govuk-tag--green">
          Content TBC
         </strong>  
      </li>
    </ul>





  <h2 class="govuk-heading-m"id="finalScreens">Emails</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a class="govuk-list" href="email-confirmation-to-ACSP">Email sent to the ACSP</a> <strong class="govuk-tag govuk-tag--green">
          Check if auto accepted
         </strong>  
      </li>
      <li>
        <a class="govuk-list" href="email-confirmation-to-individual">Email sent to the individual verified</a> <strong class="govuk-tag govuk-tag--green">
          Check if sent by H2V
         </strong>

      </li> 
    </ul>



  </div>
  

</div>




{% endblock %}




