{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% include "includes/phase_banner_alpha.html" %}
{% endblock %}


{% block content %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Tell Companies House you have verified someone’s identity prototypes
      </h1>

      {{ govukWarningText({
        text: "This prototype is being actively worked on - things might break or change very quickly",
        iconFallbackText: "Warning"
      }) }}

     <!-- <h2 class="govuk-heading-m" id="authScreens">Murals</h2>
      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" target="_blank" href="https://app.mural.co/invitation/mural/companieshouse8589/1674141024210?sender=ejames5948&key=2e9f9c77-c184-43ce-92ed-39508254a70a">Flows in mural (opens in a new tab)</a></p>
-->

<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">
    Contents
  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#verify-client">
        Verified someone’s identity
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#amend-verification-record">
        Amend verification record
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#reverification">
        Reverification
      </a>
    </li>
  </ul>
  <div class="govuk-tabs__panel" id="verify-client">
    <h2 class="govuk-heading-l">Tell Companies House you have verified someone’s identity</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Matching + linking Versions</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="match_link_v2/index">V2</a>
          </td>
          <td class="govuk-table__cell">
            September 2026 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
            Untested
            </strong>
          </td> 
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="match_link_v1/index">V1</a>
          </td>
          <td class="govuk-table__cell">
            August 2026 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
            </strong>
          </td> 
        </tr>
      </tbody>
    </table>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
         <!-- <th class="govuk-table__header" scope="col">User Research</th> ---->
        </tr>
      </thead>
      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v13/index">V13</a>
          </td>
          <td class="govuk-table__cell">
            November 2025 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
            </strong>
          </td>
          <!-- <td class="govuk-table__cell">
            
          
          </td>   -->  
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v12/index">V12</a>
          </td>
          <td class="govuk-table__cell">
            September 2025 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
          Tested
            </strong>
          </td>
          <!-- <td class="govuk-table__cell">
            
          
          </td>   -->  
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v11/index">V11</a>
          </td>
          <td class="govuk-table__cell">
            August 2025 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
            </strong>
          </td>
          <!-- <td class="govuk-table__cell">
            
          
          </td>  -->   
        </tr>

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <a href="v10/index">V10</a>
            </td>
            <td class="govuk-table__cell">
              December 2024 
            </td>
            <td class="govuk-table__cell">
              <strong class="govuk-tag govuk-tag--green">
              Tested
              </strong>
            </td>
          <!--   <td class="govuk-table__cell">
              
            
            </td>  -->   
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v9/index">V9</a>
          </td>
          <td class="govuk-table__cell">
            September 2024 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
            </strong>
          </td>
          <!--  <td class="govuk-table__cell">
            
            <a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1733699225668/3561dd0da78a6e90a4818bf1de67822fef747dcb?sender=u056c70d2fe5016c384874180">Mural user research </a>
          
          </td>  -->   
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v8/index">V8</a>
          </td>
          <td class="govuk-table__cell">
            July 2024 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
            </strong>
          </td>
        <!--   <td class="govuk-table__cell">
            
          
          </td>     -->
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v7/index">V7</a>
          </td>
          <td class="govuk-table__cell">
            May - June 2024 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
            </strong>
          </td>
        <!--  <td class="govuk-table__cell">
            
          Download TBC
          </td>     -->
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v6/index">V6</a>
          </td>
          <td class="govuk-table__cell">
            February 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
        <!--  <td class="govuk-table__cell">
            Companies House verification standard tested
          </td>  -->   
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v5/index">V5</a>
          </td>
          <td class="govuk-table__cell">
            11 - 15 September 2023 <!-- (Round 4) --> 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            Tested
            </strong>
          </td>
          <!-- <td class="govuk-table__cell">
            <a target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1688558085772/38551b40c6f79efae4ea4392d9305d98fccaba46?sender=u056c70d2fe5016c384874180" class="govuk-link govuk-link--no-visited-state">Mural (opens in a new tab)</a>
          </td> -->    
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v4/index">V4</a>
          </td>
          <td class="govuk-table__cell">
            14 - 18 August 2023 <!-- (round 3) -->
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
        <!--  <td class="govuk-table__cell">
            <a target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1688558085772/38551b40c6f79efae4ea4392d9305d98fccaba46?sender=u056c70d2fe5016c384874180" class="govuk-link govuk-link--no-visited-state">Mural (opens in a new tab)</a>
          </td>  -->   
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v3/index">V3</a>
          </td>
          <td class="govuk-table__cell">
            <!-- (Round 1) -->
            13 - 19 July 2023 <br>

          <!--  (Round 2) -->
            
            27 - 2 August 2023 
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
          <!-- <td class="govuk-table__cell">
            <a target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1688558085772/38551b40c6f79efae4ea4392d9305d98fccaba46?sender=u056c70d2fe5016c384874180" class="govuk-link govuk-link--no-visited-state">Mural (opens in a new tab)</a>
          </td> -->    
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v2/index">V2</a>
          </td>
          <td class="govuk-table__cell">
            14 - 16 June 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
          <!-- <td class="govuk-table__cell">
            <a target="_blank" href="https://app.mural.co/invitation/mural/companieshouse8589/1686730123745?sender=ejames5948&key=6b955ec9-ba9d-4e11-b0c2-77152ffa2f15" class="govuk-link govuk-link--no-visited-state">Mural (opens in a new tab)</a>
          </td>   -->  
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v1/index">V1</a>
          </td>
          <td class="govuk-table__cell">
            4 - 9 May 2023
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              Tested
            </strong>
          </td>
        <!--   <td class="govuk-table__cell">
            <a target="_blank" href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1683188002076/8981fc751a7e633c9bd0b8700336437a18302d89?sender=u056c70d2fe5016c384874180">Mural (opens in a new tab)</a>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel" id="amend-verification-record">
    <h2 class="govuk-heading-l">Amend someone's identity verification details</h2>
      
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
         <!--  <th class="govuk-table__header" scope="col">User Research</th> -->
        </tr>
      </thead>
    <tbody class="govuk-table__body">

       <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v2-amend/index">V2</a>
              </td>
              <td class="govuk-table__cell">
                May 2025 
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag">
                Completed
                </strong>
              </td>
             <!--  <td class="govuk-table__cell">
                
              
              </td> -->    
        </tr>



      <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a href="v1-amend/index">V1</a>
              </td>
              <td class="govuk-table__cell">
                February 2025 
              </td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--green">
                Completed
                </strong>
              </td>
              <td class="govuk-table__cell">
                
              
              </td>    
        </tr>

    </tbody>


    </table>
  </div>

  <div class="govuk-tabs__panel" id="reverification">
    <h2 class="govuk-heading-l">Reverify somebody's identity</h2>
      
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
          <th class="govuk-table__header" scope="col">User Research</th>
        </tr>
      </thead>
    <tbody class="govuk-table__body">

    <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v1-reverify/index">V1</a>
          </td>
          <td class="govuk-table__cell">
            July 2025
          </td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
            In progress
            </strong>
          </td>
          <td class="govuk-table__cell">
            
          
          </td>    
        </tr>
      </tbody>
    </table>
  </div>
  
</div>




      
     



{% endblock %}
