{% extends "layouts/main.html" %}

{% block pageTitle %}
Choose an address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="address-list" method="post">

        {{ govukRadios({
          idPrefix: "address-service-list",
          name: "address-service-list",
          fieldset: {
            legend: {
              text: "Choose an address",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "wentloog1",
              text: "1 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            },
            {
              value: "wentloog2",
              text: "2 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            },
            {
              value: "wentloog3",
              text: "3 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            },
            {
              value: "wentloog4",
              text: "4 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            },
            {
              value: "wentloog5",
              text: "5 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            },
            {
              value: "wentloog6",
              text: "6 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            },
            {
              value: "wentloog7",
              text: "7 Wentloog Road, Rumney, Cardiff, Wales, CF3 3EA"
            },
            {
              value: "wentloog8",
              text: "8 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            },
            {
              value: "wentloog9",
              text: "9 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            },
            {
              value: "wentloog10",
              text: "10 Wentloog Road, Rumney, Cardiff, Wales CF3 3EA"
            }
          ]
        }) }}

        <p> <a href="address-manual">Enter address manually </a> </p>

        
       {{ govukButton({
          text: "Confirm and continue",
          href:"address-confirm"
        }) }}




  

      </form>

    </div>
  </div>

{% endblock %}
