{% extends "layouts/main.html" %}

{% block pageTitle %}
What is the director's name? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="date-identity-checks" method="post">

              <fieldset class="govuk-fieldset" role="group" aria-describedby="dob-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <span class="govuk-caption-l">
                  {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
                </span>
                <h1 class="govuk-fieldset__heading">
                  When were the identity checks completed?
                </h1>
              </legend>
              <div id="dob-hint" class="govuk-hint">
                If you completed the checks in the past, you must make sure you met our identity verification standard. 
              </div>

           
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="passport-issued-hint">
           
                  <div class="govuk-date-input" id="passport-issued">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
                      </div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
                      </div>
                    </div>
                  </div>
                </fieldset>
              </div>
            
           
            <!--  <div class="govuk-date-input" id="checked">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="checked-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2"  id="checked-day" name="checked-day" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                  </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="checked-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="checked-month" name="checked-month" type="text" pattern="[0-9]*" inputmode="numeric"></div>
              </div>
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="checked-year">
                    Year
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="checked-year" name="checked-year" type="text" pattern="[0-9]*" inputmode="numeric"></div>
                </div>
              </div>
            </fieldset>-->

            <div class="govuk-inset-text">
  
  <p>You must keep records of the identity checks you completed for 7 years from this date. We may ask to see these records to check you’ve met Companies House identity verification standard. </p>
</div>


        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}


