{% extends "layouts/main.html" %} {% block pageTitle %} Confirm their home
address – {{ serviceName }} – GOV.UK {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
      Verification record already exists
    </h1>

    <p>
      We already have an identity record that matches the details you’ve
      entered.
    </p>

    <p>
      Check with your client if they have verified already using another ACSP or
      GOV.UK One Login.
    </p>

    <p>
      If you think this is a mistake, check that you have entered all your
      client’s details correctly.
    </p>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Name</dt>
        <dd class="govuk-summary-list__value">
          {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="name"
            >Change<span class="govuk-visually-hidden"> name</span></a
          >
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Date of birth</dt>
        <dd class="govuk-summary-list__value">
          {{data['dobDay']}} {{ data['dobMonth'] | displayMonth}}
          {{data['dobYear']}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="dob"
            >Change<span class="govuk-visually-hidden"> date of birth</span></a
          >
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Address</dt>
        <dd class="govuk-summary-list__value">
          72 Guild Street<br />London<br />SE23 6FH
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="address-lookup.html"
            >Change<span class="govuk-visually-hidden"> address</span></a
          >
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Passport number</dt>
        <dd class="govuk-summary-list__value">12345678</dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="id-document-details.html"
            >Change<span class="govuk-visually-hidden"> passportNumber</span></a
          >
        </dd>
      </div>
    </dl>
  </div>
</div>

{% endblock %}
