{% extends "layouts/main.html" %} {% block pageTitle %} Confirm their home
address – {{ serviceName }} – GOV.UK {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="duplicate-warning" method="post">
      <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
        Verification record might already exist
      </h1>

      <p>
        We already have an identity record which matches some of the details
        you’ve entered.
      </p>

      <p>
        Check with your client if they have verified already using another ACSP
        or GOV.UK One Login. If they have an existing identity record and need
        to update their email address, you can
        <a
          href="https://submit.forms.service.gov.uk/form/8629/correct-someone-s-identity-verification-details/GiD648pc"
          class="govuk-link govuk-link--no-visited-state"
          >correct their identity verification details</a
        >.
      </p>

      <p>
        An email address can only be used once to verify an identity. If
        multiple people use the same email address as your client, they’ll need
        to provide you with a different email address for their identity
        verification.
      </p>

      <p>
        Before you continue, check that you have entered all your client’s
        details correctly.
      </p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Name</dt>
          <dd class="govuk-summary-list__value">
            {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="name"
              >Change<span class="govuk-visually-hidden"> name</span></a
            >
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Date of birth</dt>
          <dd class="govuk-summary-list__value">
            {{data['dobDay']}} {{ data['dobMonth'] | displayMonth}}
            {{data['dobYear']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="dob"
              >Change<span class="govuk-visually-hidden">
                date of birth</span
              ></a
            >
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">Address</dt>
          <dd class="govuk-summary-list__value">
            72 Guild Street<br />London<br />SE23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="address-lookup.html"
              >Change<span class="govuk-visually-hidden"> address</span></a
            >
          </dd>
        </div>
      </dl>

      <button class="govuk-button" data-module="govuk-button">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
