{% extends "layouts/main.html" %}


{% block pageTitle %}
Register an ACSP: application approved
{% endblock %}


{% block beforeContent %}




{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-l">Identity verification details submitted</h1> 

   
      
      <p class="govuk-body">You've confirmed to Companies House that you've verified {{data['firstName']}} {{data['middleName']}} {{data['lastName']}}'s identity. </p>


      <p class="govuk-body">Your reference is <strong>g9m4tz-1kq2vw-7j5nrx</strong>. This is not the Companies House personal code for the person you have verified. </p>

      <p class="govuk-body">We've emailed <strong>director@email.com</strong> with their personal code. </p>

      <h2 class="govuk-heading-m">Help us to improve this service</h2>
      <p>Tell Companies House you've verified someone's identity is a new service. Complete our quick survey to help us improve it: <a href="">https://www.smartsurvey.co.uk/s/verify-someones-identity/</a></p>

    <!--  <h3 class="govuk-heading-m">Feedback</h3>
      <p class="govuk-body">This is a new service. Help us improve it by completing our <a href="" class="govuk-link govuk-link--no-visited-state">quick survey</a>.</p> -->
      <h2 class="govuk-heading-m">Contact us</h2>
            <h3 class="govuk-heading-s">Telephone</h3>
      <ul class="govuk-list">
        <li>0303 1234 500</li>
        <li>Monday to Friday, 8:30am to 6pm</li>
        <li>Find out about call charges: <a href="">https://www.gov.uk/call-charges</a></li>
      </ul>


      <h3 class="govuk-heading-s">Email</h3>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/call-charges">enquiries@companieshouse.gov.uk</a>
        </li>
      </ul>





  </div>
</div>
{% endblock %}
